export PORT=8001
export REDIS_HOST="127.0.0.1"
export DATABASE_PORT="5433"
export DATABASE_USER="prisma"
export DATABASE_HOST="localhost"
export DATABASE_PASSWORD="prisma"
export DATABASE_URL="postgresql://$DATABASE_USER:$DATABASE_PASSWORD@$DATABASE_HOST:$DATABASE_PORT"
